<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spyfall</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">


    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        var groupKey = "{{groupKey}}";
    </script>
</head>

<script id="location-template" type="text/x-handlebars-template">

    <h4 class="col-xs-6 col-md-4 text-xs-center" id="{{ '{{' }}name{{ '}}' }}" onclick="strikethroughToggle('{{ '{{' }}name{{ '}}' }}')">{{ '{{' }}name{{ '}}' }}</h4>

</script>

<script id="player-template" type="text/x-handlebars-template">
    <div id="{{ '{{' }}key{{ '}}' }}">
        <h4 class="">{{ '{{' }}name{{ '}}' }}</h4>
    </div>

</script>

<script id="your-template" type="text/x-handlebars-template">
    <div id="y{{ '{{' }}key{{ '}}' }}">
        <h4 class="">{{ '{{' }}name{{ '}}' }}</h4>
        role:
        <h5 class="">{{ '{{' }}location.role{{ '}}' }}</h5>

        location:
        <h5 class="">{{ '{{' }}location.locName{{ '}}' }}</h5>
    </div>

</script>

<body onload="loadGame(); joinGame()">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Spyfall!</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a>{{groupKey}}</a>
                </li>
                <li>
                    <a href="http://www.cryptozoic.com/sites/default/files/icme/u30695/spy_rules_eng_0.pdf" target="_blank">Rules</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
<div class="col-xs-1"></div>
<div class="col-xs-10">
<button class="btn btn-default" onclick="startGame()">Start New Game</button>
<!--<button class="btn btn-default" onclick="newGame()">New Game</button>-->
<br>
<div id="countdown"></div>
<br>

<h2>You Are:</h2>
<div id="playerInfo"></div>

<br>

<h2>Players:</h2>
<div id="playerList"></div>

<br>

<h2>Locations:</h2>
    <div class="col-xs-1"></div>
</div>

    <div id="locationList" class="row locations"></div>
</div>
</body>


<!-- jQuery Version 1.11.1 -->
<script src="/static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>

<!--short unique id's-->
<script src="/static/js/generateID.js"></script>

<!--firebase-->
<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>

<!--timer stuff-->
<script src="/static/js/moment.js"></script>
<script src="/static/js/countdown.js"></script>
<script src="/static/js/moment-countdown.js"></script>


<!--handlebars-->
<script src="/static/js/handlebars-v4.0.5.js"></script>

<!--game stuff-->
<script src="/static/js/game.js"></script>


</html>